1. Import the SQL database into Pandas. (Yes, you could read the CSVs directly in Pandas, but you are, after all, trying to prove your technical mettle.) This step may require some research. Feel free to use the code below to get started. Be sure to make any necessary modifications for your username, password, host, port, and database name:

* Consult [SQLAlchemy documentation](https://docs.sqlalchemy.org/en/latest/core/engines.html#postgresql) for more information.

* If using a password, do not upload your password to your GitHub repository. See [https://www.youtube.com/watch?v=2uaTPmNvH0I](https://www.youtube.com/watch?v=2uaTPmNvH0I) and [https://help.github.com/en/github/using-git/ignoring-files](https://help.github.com/en/github/using-git/ignoring-files) for more information.

In [2]:
#Dependencies
import pandas as pd
import os
import matplotlib.pyplot as plt
from sqlalchemy import create_engine
from config import username, password

#Database Connection
engine = create_engine(f'postgresql://{username}:{password}@localhost:5432/sql-challenge')
conn = engine.connect()

ModuleNotFoundError: No module named 'config'

In [ ]:
#Dataframe creation
sql_df = pd.read_sql('''SELECT e.emp_no, s.salary, t.title
                        FROM employes as e
                        INNER JOIN salaries as s
                        ON e.emp_no = s.emp_no
                        INNER JOIN titles as t
                        ON e.title_id = t.title_id                
                ''')
sql_df

2. Create a histogram to visualize the most common salary ranges for employees.

3. Create a bar chart of average salary by title.